<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <ion-card class="login">
      <ion-list>
        <ion-item>
          <ion-input
            type="email"
            formControlName="username"
            name="username"
            autofocus="on"
            clearInput="true"
            placeholder="Ingrese su usuario"
            required="true"
          ></ion-input>
          <ion-icon name="person" color="medium" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-input
            type="password"
            formControlName="password"
            name="password"
            autofocus="on"
            clearInput="true"
            placeholder="Ingrese su contraseña"
            required="true"
          ></ion-input>
          <ion-icon
            name="lock-closed-outline"
            color="medium"
            slot="end"
          ></ion-icon>
        </ion-item>
      </ion-list>
      <ion-card-content>
        <ion-button type="submit" expand="block" color="primary"
          >Ingresar</ion-button
        >
        <ion-button (click)="deleteCredential()" expand="block" color="danger"
          >Salir</ion-button
        >
        <ion-row>
          <ion-col (click)="performBiometricVerification()" size="2">
            <ion-icon name="finger-print-sharp" size="large"></ion-icon>
          </ion-col>
          <ion-col
            (click)="performBiometricVerification()"
            style="padding-top: 10px"
          >
            <ion-label>Ingresar con biometria</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
