<ion-split-pane contentId="main-content" when="sm">
  <ion-menu type="push" menuId="main-menu" contentId="main-content">
    <app-menu style="height: 100%"></app-menu>
  </ion-menu>

  <ion-content id="main-content" fullscreen="true">
    <ion-tabs>
      <ion-tab-bar style="--background: #ffffff" slot="bottom">
        <ion-tab-button tab="tab1">
          <ion-icon aria-hidden="true" name="home-sharp"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <ion-icon
            aria-hidden="true"
            name="scan-sharp"
            size="large"
          ></ion-icon>
          <ion-label>Scan</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
          <ion-icon aria-hidden="true" name="map-sharp"></ion-icon>
          <ion-label>Maps</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-split-pane>
