<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title> Maps </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Maps</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <capacitor-google-map id="map" #map></capacitor-google-map>

  <!-- <div class="mapa" id="map" #map></div> -->
</ion-content>
